*.iml
.DS_Store
local.properties

# IDE
.idea/
!.idea/codeStyles/

# Kotlin
.kotlin/
*.kotlin_module

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
.externalNativeBuild
.cxx
/captures
*.hprof
*.log

# Secrets
secrets.properties
google-services.json
keystore.properties
*.jks
